@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap');

html, body{
    font-size: 16px;
    margin: 0;
    height: 100%;
    font-family:'Courier New', Courier, monospace;
    background-color: #d6e4e6;
}

/* NAV HEADER*/

header{
    background-color: #d6e4e6;
    height: 50px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 300ms ease;
    z-index: 10;

}

header.scroll-up{
    transform: translateY(0);
}

header.scroll-down{
    transform: translateY(-100%);
}


header ul{
    float: right;
    padding-right: 40px;
    padding-left: 0;
}

header ul li{
    display: inline;
    padding: 10px 15px 10px 25px;
    text-decoration: none;
}

header ul li a{
    color: #1E1E24;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Rubik';
    font-weight: 500;
}

header ul li{
    border-left: 1px solid #2d728f;
}

header ul li:first-of-type{
    border: none;
}

header ul li a:visited{
    color: #1E1E24;
}

header ul li a:hover{
    color: #cf9893;
}


header .icons{
    display: inline-block;
    padding-left: 30px;
}

header img{
    height: 35px;
    width: auto;
    padding: 5px;
}

header ul li a:visited{
    color: #1E1E24;
}

header ul li a:hover{
    color: #cf9893;
}

nav img{
    padding-right: 40px;
}

.menu-btn{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: all .5s ease-in-out;
    z-index: 2;
    padding-right: 20px;
}

.menu-btn_burger{
    width: 40px;
    height: 6px;
    background: black;
    border-radius: 3px;
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 6px;
    background: black;
    border-radius: 3px;
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before{
    transform: translateY(-16px);
}

.menu-btn_burger::after{
    transform: translateY(16px);
}

.menu-btn.open .menu-btn_burger {
    transform: translateX(50px); 
    background: transparent;
}

.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg) translate(-35px, 35px); 
}

.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg) translate(-35px, -35px); 
}

/* The side navigation menu */
.sidenav {
    height: 120vh; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    right: 0;
    background-color: #6c9faf; 
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    color: #1E1E24;
    display: block;
    transition: 0.3s;
    font-family: 'Rubik';
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
  

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/* page > 800 px hide the drop down*/
@media only screen and (min-width: 450px){
    .menu-btn{
        display: none;
    }
}

/* page < 800 px show the drop down and hide normal nav*/
@media only screen and (max-width: 450px){
    .menu-btn{
        display:flex;
    }
    nav ul{
        display: none;
    }
}

/* ABOUT ME */

#about-me{
    height: fit-content;
    background-color: #d6e4e6;
    position: relative;
    display: flex;
    justify-content: center; 
    align-items: flex-end;
    width: 100%;
    margin-top: 100px;
}

.info{
    height: fit-content;
    margin:auto;
    /*background-color: rgb(168, 252, 241); */
    width: 65%;
    display: inline-block;

}

.top-section{
    height: 150px;
    /* border: 1px solid black; */
    position: relative;
    width: 100%;
    display: flex;
}

.top-section .left{
    width: 70%;
    height: 100%;
}

.top-section .right{
    width: 30%;
    /* background-color: black; */

}

.bottom-section{
    margin-top: 50px;
    width: 100%;
    position: relative;

}

.bottom-section p{
    margin-left: 0;
}

.info h1{
    font-size: 4rem;
    margin: 0;
}

.info p{
    width: 70%;
    font-size: 1.2rem;
}


.stack{
    height: fit-content;
    margin-top: 50px;
    font-size: 1.2rem;
}

.stackImages{
    height: 60px;
}

.stack .stackImages img{
    height: 100%;
    width: auto;
    float: left;
    display: flex;
    padding: 0 10px;
}

/* MEDIA CHANGES */


/* large size */
@media only screen and (min-width: 1100px){
    .myPhoto{
        content:url('./images/me.jpg');
        border-radius: 5px;
        width: 300px;
        height: auto;
    }
    .info .left p{
        display: none;
    }
    .bottom-section{
        width: 90%;
    }
}

/* Medium Big Small*/
@media only screen and (min-width: 800px) and (max-width: 1100px){
    .myPhoto{
        content:url('./images/me-circle.png');
        width: auto;
        height: 100%;
        float: right;
    }
    .info p{
        width: 100%;
    }
    .top-section .left p{
        display: none;
    }
    .top-section h1{
        font-size: 3rem;
    }
}

/* Medium Size Small*/
@media only screen and (min-width: 500px) and (max-width: 800px){
    .myPhoto{
        content:url('./images/me-circle.png');
        width: auto;
        height: 100%;
        float: right;
    }
    .top-section .left p{
        display: none;
    }
    .top-section h1{
        font-size: 1.5rem;
    }
    .top-section h2{
        font-size: 1.3rem;
    }
    .info .bottom-section p{
        width: 100%;
    }
    .info .top-section .left p{
        width: 100%;
    }
    .top-section .left p{
        padding-top: 20px;
    }
    .bottom-section{
        margin-top: 30px;
    }
    .stack{
        position:relative;
    }
    .top-section .left{
        width: 60%;
    }
    .top-section .right{
        width: 50%;
    }
}

/* less than 450 px */
@media only screen and (max-width: 500px){
    .myPhoto{
        content:url('./images/me-circle.png');
        width: auto;
        height: 70%;
        float: right;
        padding-top: 10px;
    }
    .top-section h1{
        font-size: 1.6rem;
    }
    .top-section h2{
        font-size: 1.3rem;
    }
    .info{
        width: 85%;
    }
    .info .top-section p{
        width: 95%;
    }
    .top-section .left{
        width: 65%;
    }
    .top-section .right{
        width: 35%;
    }
    .top-section{
        height: 150px;
    }
    .info .bottom-section p{
        width: 100%;
    }
    .bottom-section{
        margin-top: 0;
    }
}

@media only screen and (max-width: 350px){
    .myPhoto{
        content:url('');
    }
    .top-section .left{
        width: 100%;
    }
    .top-section .right{
        width: 0%;
    }
    
}


/* PROJECTS  */

#projects{
    height: fit-content;
    background-color: #d6e4e6;
    margin-bottom: 60px;
    position: relative;
    width: 100%;
    margin-top: 50px;
}

#projects h1{
    text-align: center;
    padding: 40px 0;
    font-size: 4rem;
    margin: 0;
}

.project-container{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: stretch;
}

.project{
    box-sizing: border-box;
    max-width: calc(50% - 70px); 
    width: 100%;
    margin: 20px 0; 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-front img{
    width: 100%;
    height: auto;
    display: block;
}


.project-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}



.project-clicked .project-inner {
    transform: rotateY(180deg);
}


.project-front, .project-back {
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.project-front {
    /* background-color: #bbb; */
    color: black;
    transition: 200ms ease-out;
    position: relative;
}

.project-back {
    background-color: rgba(63, 63, 63, 0.623);
    color: white;
    transform: rotateY(180deg);
    display: none;
}

.project-back img{
    width: 30px;
    padding: 10px;
}

.project-back p{
    padding: 10px;
}

.project-back a{
    color: white;
}

.project-back a:visited{
    color:white;
}
.project-back a:hover{
    color:#cf9893;
}

.arrow{
    font-size: 2rem;
}

.project-back h3{
    margin-bottom: 0;
}

.skills-used{
    margin: 0 auto 20px;
}

.project-front:hover{
    transform: scale(1.1);
    transition: 200ms ease-in;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (max-width: 550px){
    #projects h1{
        font-size: 3rem;
    }
    #projects .project-container{
        width: 95%;
    }
}

@media (max-width: 850px) { 
    .project {
        max-width: 90%; 
    }
}

@media (min-width: 600px){
    .project-back p{
        width: 80%;
        margin: auto;
        font-size: 1.5rem;
        font-weight: 500;
    }
}


/* FOOTER */

footer{
    height: max-content;
    background-color: #d6e4e6;
    padding: 20px;
}

footer .contact{
    margin: auto;
    text-align: center;
}

footer h2{
    margin: 10px 0;
}

footer .contact p{
    font-size: 1.3rem;
    display: inline;
}

#email{
    display: inline-block;
    font-size: 1.3rem;
    padding: 5px;
    cursor: pointer;
    position: relative;
}

#email:hover {
    font-weight: bold;
}

.socials{
    display: flex;
    margin: auto;
    width: max-content;
    align-content: center;
}

.socials img{
    height: 30px;
    padding: 10px;
    margin: 15px 0;
}

.tooltip {
    visibility: hidden;
    width: max-content;
    height: 20px;
    font-size: 1rem;
    background-color: #cf9893;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: calc(100% + 5px);
    left: 50%;
    transform: translateX(-50%);
    margin: auto;

}

#email:hover .tooltip {
    visibility: visible;
}

